<form [formGroup]="userForm" (ngSubmit)="create()" autocomplete="off">
    <div class="mb-3 form-group">
        <label>Имя</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["name"]'>
    </div>
    <div class="mb-3 form-group">
        <label>Фамилия</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["surname"]'>
    </div>
    <div class="mb-3 form-group">
        <label>Отчество</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["patronymic"]'>
    </div>
    <div class="mb-3 form-group">
        <label>Дата рождения</label>
        <input class="form-control" type="time" [formControl]='$any(userForm).controls["birthDate"]'>
    </div>
</form>