<h3>Регистрация нового пользователя</h3>
<form [formGroup]="userForm" (ngSubmit)="createClient()" autocomplete="off">
    <div class="mb-3 form-group">
        <label>Имя</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["name"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Фамилия</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["surname"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Отчество</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["fatherName"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Дата рождения</label>
        <input class="form-control" type="date" [formControl]='$any(userForm).controls["dateOfBirth"]'>
    </div>

    <div class="mb-3 form-check form-group">
        <input [formControl]='$any(userForm).controls["gender"]' class="form-control form-check-input"
            type="checkbox" value="">
        <label class="form-check-label">
            Мужчина
        </label>
    </div>

    <div class="mb-3 form-group">
        <label>Серия паспорта</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["passportSerial"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Номер паспорта</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["passportNumber"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Кем выдан</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["issuedBy"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Дата выдачи</label>
        <input class="form-control" type="date" [formControl]='$any(userForm).controls["issuedDate"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Идентификационный номер</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["identifyNumber"]'>
    </div>

    <div class="form-group">
        <label class="form-label">Город прописки</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="cityOfResidence" aria-describedby=""
                [formControl]='$any(userForm).controls["cityOfResidence"]'>
                <option *ngFor="let city of cities" value="{{city?.name}}">{{city?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="mb-3 form-group">
        <label>Адрес прописки</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["addressOfResidence"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Домашний телефон</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["homePhone"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Мобильный телефон</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["cellPhone"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Email</label>
        <input class="form-control" type="email" [formControl]='$any(userForm).controls["email"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Место работы</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["placeOfWork"]'>
    </div>

    <div class="mb-3 form-group">
        <label>Должность</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["position"]'>
    </div>

    <div class="form-group">
        <label class="form-label">Город проживания</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="livingCity" aria-describedby=""
                [formControl]='$any(userForm).controls["livingCity"]'>
                <option *ngFor="let city of cities" value="{{city?.name}}">{{city?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="mb-3 form-group">
        <label>Адрес проживания</label>
        <input class="form-control" type="text" [formControl]='$any(userForm).controls["livingAddress"]'>
    </div>

    <div class="form-group">
        <label class="form-label">Семейное положение</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="familyPosition" aria-describedby=""
                [formControl]='$any(userForm).controls["familyPosition"]'>
                <option *ngFor="let position of familyPositions" value="{{position?.name}}">{{position?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">Гражданство</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="citizen" aria-describedby=""
                [formControl]='$any(userForm).controls["citizen"]'>
                <option *ngFor="let country of countries" value="{{country?.name}}">{{country?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">Инвалидность</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="invalidity" aria-describedby=""
                [formControl]='$any(userForm).controls["invalidity"]'>
                <option *ngFor="let invalidity of invalidities" value="{{invalidity?.name}}">{{invalidity?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="mb-3 form-check form-group">
        <input [formControl]='$any(userForm).controls["retired"]' class="form-control form-check-input"
            type="checkbox" value="">
        <label class="form-check-label">
            Пенсионер
        </label>
    </div>

    <div class="mb-3 form-group">
        <label>Ежемесячный доход</label>
        <input class="form-control" type="number" [formControl]='$any(userForm).controls["monthlyIncome"]'>
    </div>

    <div class="mb-3 form-check form-group">
        <input [formControl]='$any(userForm).controls["military"]' class="form-control form-check-input"
            type="checkbox" value="">
        <label class="form-check-label">
            Военнообязанный
        </label>
    </div>

    <div class="form-group text-center">
        <button [disabled]='!userForm.valid || !userForm.dirty' class="btn btn-outline-info btn-save mr-2 mb-2" type="submit">Create</button>
    </div>
</form>