<h3>Редактирование пользователя</h3>
<form [formGroup]="userForm" (ngSubmit)="editUser()" autocomplete="off" *ngIf="user">

    <app-text-input [label]='"Имя"' [formControl]='$any(userForm).controls["name"]'></app-text-input>

    <app-text-input [label]='"Фамилия"' [formControl]='$any(userForm).controls["surname"]'></app-text-input>

    <app-text-input [label]='"Отчество"' [formControl]='$any(userForm).controls["fatherName"]'></app-text-input>

    <div class="mb-3 form-group">
        <label>Дата рождения</label>
        <input class="form-control" type="datetime-local" [formControl]='$any(userForm).controls["dateOfBirth"]'>
    </div>

    <div class="mb-3 form-check form-group">
        <input [formControl]='$any(userForm).controls["gender"]' class="form-control form-check-input"
            type="checkbox" value="">
        <label class="form-check-label">
            Мужчина
        </label>
    </div>

    <app-text-input [label]='"Серия паспорта"' [formControl]='$any(userForm).controls["passportSerial"]'></app-text-input>

    <app-text-input [label]='"Номер паспорта"' tip={{passportNumberTip}}
        [formControl]='$any(userForm).controls["passportNumber"]'></app-text-input>

    <app-text-input [label]='"Кем выдан"' [formControl]='$any(userForm).controls["issuedBy"]'></app-text-input>

    <div class="mb-3 form-group">
        <label>Дата выдачи</label>
        <input class="form-control" type="datetime-local" [formControl]='$any(userForm).controls["issuedDate"]'>
    </div>

    <app-text-input [label]='"Идентификационный номер"' [formControl]='$any(userForm).controls["identifyNumber"]'
        tip='{{identifyNumberTip}}'></app-text-input>

    <div class="form-group">
        <label class="form-label">Город прописки</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="cityOfResidence" aria-describedby=""
                [formControl]='$any(userForm).controls["cityOfResidence"]'>
                <option *ngFor="let city of cities" value={{city.id}}>{{city?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <app-text-input [label]='"Адрес прописки"' [formControl]='$any(userForm).controls["addressOfResidence"]'></app-text-input>

    <app-text-input [label]='"Домашний телефон"' [formControl]='$any(userForm).controls["homePhone"]'></app-text-input>

    <app-text-input [label]='"Мобильный телефон"' [formControl]='$any(userForm).controls["cellPhone"]'
    tip={{cellPhoneTip}}></app-text-input>

    <app-text-input [label]='"Email"' [type]='"email"' [formControl]='$any(userForm).controls["email"]'></app-text-input>

    <app-text-input [label]='"Место работы"' [type]='"email"' [formControl]='$any(userForm).controls["placeOfWork"]'></app-text-input>

    <app-text-input [label]='"Должность"' [formControl]='$any(userForm).controls["position"]'></app-text-input>

    <div class="form-group">
        <label class="form-label">Город проживания</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="livingCity" aria-describedby=""
                [formControl]='$any(userForm).controls["livingCity"]'>
                <option *ngFor="let city of cities" value={{city.id}}>{{city?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <app-text-input [label]='"Адрес проживания"' [formControl]='$any(userForm).controls["livingAddress"]'></app-text-input>

    <div class="form-group">
        <label class="form-label">Семейное положение</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="familyPosition" aria-describedby=""
                [formControl]='$any(userForm).controls["familyPosition"]'>
                <option *ngFor="let position of familyPositions" value={{position.id}}>{{position?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">Гражданство</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="citizen" aria-describedby=""
                [formControl]='$any(userForm).controls["citizen"]'>
                <option *ngFor="let country of countries" value={{country.id}}>{{country?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">Инвалидность</label>
        <div class="input-group mb-3" style="background: none; box-shadow: none">
            <select class="form-select" name="invalidity" aria-describedby=""
                [formControl]='$any(userForm).controls["invalidity"]'>
                <option *ngFor="let invalidity of invalidities" value={{invalidity.id}}>{{invalidity?.name | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="mb-3 form-check form-group">
        <input [formControl]='$any(userForm).controls["retired"]' class="form-control form-check-input"
            type="checkbox" value="">
        <label class="form-check-label">
            Пенсионер
        </label>
    </div>

    <app-text-input [label]='"Ежемесячная зарплата"' [type]='"number"' [formControl]='$any(userForm).controls["monthlyIncome"]'></app-text-input>

    <div class="mb-3 form-check form-group">
        <input [formControl]='$any(userForm).controls["military"]' class="form-control form-check-input"
            type="checkbox" value="">
        <label class="form-check-label">
            Военнообязанный
        </label>
    </div>

    <div class="form-group text-center">
        <button [disabled]='!userForm.valid || !userForm.dirty' class="btn btn-outline-info btn-save mr-2 mb-2" type="submit">Update</button>
    </div>
</form>